:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    width: 100%;
    height: 100vh;
    overflow: clip;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
}

.card {
    display: flex;
    flex-direction: row;
    width: 40%;
    /* height: 60%; */
    max-width: 1000px;

    border-radius: 30px;


}



img {
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.info {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: left;
}

.title {
    color: var(--dark-grayish-blue);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.parfum-name {
    font-weight: 700;
    font-size: 3rem;
    width: 100%;
    font-family: "Fraunces";
    padding-bottom: 20px;
}

.parfum-description {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
    padding-bottom: 20px;
}


.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}



.actual {
    font-size: 3rem;
    color: var(--dark-cyan);
    font-family: "Fraunces";
}

.reduction {
    color: var(--dark-grayish-blue);
    font-family: "Montserrat";
    font-size: 0.9rem;
    margin-right: 20px;
    text-decoration: line-through;

}

.btn {
    font-family: "Montserrat";
    background-color: var(--dark-cyan);
    margin: 10px;
    padding: 15px;
    border: none;
    color: var(--white);
    font-size: 1rem;
    border-radius: 5px;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width:1850px) {
    .title {
        font-size: 0.9rem;
    }

    .parfum-name {
        font-size: 2.5rem;
    }

    .parfum-description {
        font-size: 0.8rem;
    }

    .actual {
        font-size: 2.5rem;
    }

    .reduction {
        font-size: 0.7rem;
    }
}

@media (max-width:375px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 90%;



    }

    .info {
        border-radius: 0 0 10px 10px;
        height: 300px;
        padding: 20px;

    }

    img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .title,
    .parfum-name,
    .parfum-description,
    .prices,
    .btn {
        padding-bottom: 10px;
    }

    .title {
        font-size: 0.8rem;
        letter-spacing: 3px;
    }

    .parfum-name {
        font-size: 2rem;
    }

    .reduction {
        margin-right: 70px;
    }
}